<%= stylesheet_link_tag "index" %>

<h1> Images </h1>
<% @pictures.each do |p| %>
  <%= p.title %>
  <%= p.caption %>
  <%= image_tag p.image, class: "image"%>
  <%= link_to('Delete picture', picture_path(p.id), method: :delete) %>
<% end %>
